body {
    color: rgb(70, 70, 70);
    background-color: darkgray;
    font-family: "C64_Pro_Mono-STYLE";
}

@font-face {
    font-family: C64_Pro_Mono-STYLE;
    src: url(C64_Pro_Mono-STYLE.ttf);
}

#topLine {
    padding-top: 40px;
    padding-bottom: 40px;
}

#buttonRow {
    padding-top: 50px;
    padding-bottom: 50px;
}

#outcome {
    padding-top: 50px;
    padding-bottom: 50px;
}

#startGame {
    margin: auto;
    display: block;    
}

h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#start {
    text-align: center;
    margin-top: 50px;
}

#buttonRow {
    text-align: center;
}

#gameOver {
    text-align: center;
}

#continue {
    text-align: center;
}

#gameFinish {
    text-align: center;
}